<h1>Weather Dashboard Homework</h1>

<div class="weather-wrapper">
  <div class="input-wrapper">
    <input
      type="text"
      [formControl]="cityCtrl"
      placeholder="Enter city name..."
    />
    <button (click)="addCityForecast()">Add City</button>
  </div>

  @if (isLoading()) {
  <div class="loader">
    <app-loader></app-loader>
  </div>
  } @else if (generatedForecast()) {
  <div class="generated-forecast" @fadeIn>
    <app-weather-card
      [showRemoveIcon]="false"
      [forecast]="generatedForecast()!"
    ></app-weather-card>
  </div>
  }
  
  @if (forecasts().length > 0) {
  <h2>Weather Forecast</h2>

  <div class="weather-list" [@listAnimation]>
    @for (forecast of forecasts(); track forecast.cityName) {
    <app-weather-card
      class="animate"
      [forecast]="forecast"
      (removeEvent)="removeCityForecast($event)"
    ></app-weather-card>
    }
  </div>
  }
</div>
